$primary-color: #5bf1d9;
$secondary-color: #84f4fb;
$background-color: #ffffff;

$text-primary-color: #000000;
$text-secondary-color: #bfbfbf;

$soft-shadow: 0 2px 25px rgba(0,0,0,.5);
$hard-shadow: 5px 5px 25px rgba(0,0,0,.5);